@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container{
	padding:10px 10px 2px 10px;
	max-width:800px;
	background-color:#E3E3E3;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	-moz-box-shadow: 0px 5px 6px #454545;
	-webkit-box-shadow: 0px 5px 6px #454545;
	box-shadow: 0px 5px 6px #454545;
}

#navBar{
	height:60px;
	background-color:#436BE0;
	position:fixed;
	top:0;
	width:100%;
	-moz-box-shadow: 0px 5px 6px #454545;
	-webkit-box-shadow: 0px 5px 6px #454545;
	box-shadow: 0px 5px 6px #454545;
}

#navBar ul li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#navBar ul li a{
	color:#FFFFFF;
}

.event{
	display:table;
	width:100%;
	background-color:#fff;
	margin-bottom:10px;
	-moz-box-shadow: 0px 2px 3px #454545;
	-webkit-box-shadow: 0px 2px 3px #454545;
	box-shadow: 0px 2px 3px #454545;
}

.eventBar{

}

.eventImage{
	float:left;
	display:block;
}

.eventImg{
	display:block;
	max-height:90px;
	max-width:100%;
	padding:5px;
	cursor:pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.eventHeader{
	float:left;
}

.eventHeader h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	font-size:1.2rem;
	margin:5px 10px 5px 10px;
	cursor:pointer;
}

.eventHeader p {
	font-family: 'Source Sans Pro', sans-serif;
	margin:5px 10px 5px 10px;
	font-size:1em;
}

.total{
	padding:5px;
	background-color:#428FA8;
	text-align:center;
	float:left;
	width:50px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:5px !important;
}

.friends{
	padding:5px;
	background-color:#40C768;
	text-align:center;
	float:left;
	width:50px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:5px !important;
}

.attendance{
	display:table;
	padding:0;
	margin:0;
}

.eventContent{
	margin-top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	display:none;
}

#navBar {
	text-align:center;
}

.eventForm{
	background-color:#fff;
	margin-bottom:10px;
	-moz-box-shadow: 0px 2px 3px #454545;
	-webkit-box-shadow: 0px 2px 3px #454545;
	box-shadow: 0px 2px 3px #454545;
	padding:10px;
}

#eventForm{
	display:none;
}

#pictureContainer{
	background-color:#fff;
	margin-bottom:10px;
	border:1px solid;
	border-color:#A1A1A1;
	display:none;
	padding:10px;
}

#picturePicker{
	background-color:#fff;
	margin-bottom:10px;
	border:1px solid;
	border-color:#A1A1A1;
	display:none;
	padding:10px;
}

.eventInput{
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	width:100%;
	margin:10px 0 10px 0;
	padding:5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:0.9em;
}

.eventInputDate{
	width:49%;
}

.eventInputTime{
	float:right;
	width:49%;
}

.eventInputArea{
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	width:100%;
	margin:10px 0 10px 0;
	padding:5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:0.9em;
	height:100px;
}

.eventInputCaption{
	font-size:1.2rem;
	font-family: 'Oswald', sans-serif;
	margin:10px 0 10px 0;
}

.eventInputBtn {
	font-family: 'Oswald', sans-serif;
	border:1px solid #3357C4;
	padding:10px;
	margin:10px 10px 10px 0;
	font-size:1.2em;
	background-color:#436BE0;
	color:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
}

.uploadInput{
	display:none;
}

.fileName{
	width:200px;
	margin-right:10px;
}

.eventInputBtn:hover{
	background-color:#2F56CC;
}

#pictureContainer img{
	padding:10px;
}

#eventFormImg{
	max-height:150px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, transparent 33%, #436BE0 33%, #436BE0 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #1D2366, #020521);

    border-radius: 2px;
    background-size: 40px 20px, 100% 100%, 100% 100%;
	
	-webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

.ui-datepicker{
	font-family:'Source Sans Pro', sans-serif;
	font-size:1em;
	background-color:#fff;
	-moz-box-shadow: 0px 3px 5px #454545;
	-webkit-box-shadow: 0px 3px 5px #454545;
	box-shadow: 0px 3x 5px #454545;
	width:230px;
	height:auto;
}

.ui-datepicker table{
	width:100%;
	border:1px solid;
	border-color:#B8B8B8;
}

.ui-datepicker-header{
	background-color:#436BE0;
	padding:10px;
}

.ui-datepicker-title{
	text-align:center;
	font-size:1.2em;
	font-weight:700;
	color:#fff;
}

.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    text-align: center;  
    cursor: pointer;  
    line-height: 600%;  
    overflow: hidden;  
}  

.ui-datepicker-prev {  
    float: left;  
    background-position: center 0px; 
	background-image: url('./images/arrow.png'); 
	background-size:20px 20px;
    background-repeat: no-repeat;
}  
.ui-datepicker-next {  
    float: right;  
    background-position: center 0px;
background-image: url('./images/arrow2.png'); 
	background-size:20px 20px;
    background-repeat: no-repeat;	
}  

.ui-datepicker thead {
	margin:5px;
}

.ui-datepicker th {
	padding:5px;
	border:1px solid;
	border-color:#B8B8B8;
	text-align:center;
}

.ui-datepicker td {
	padding:5px;
	border:1px solid;
	border-color:#B8B8B8;
	text-align:center;
}

@media screen and (max-width: 400px) {

}



